<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<form action="#" th:action="@{/register}" th:object="${user}" method="post">
    <table>
        <tr>
            <td><label >First Name</label></td>
            <td><input th:field="*{nom}" type="text" name="nom"></input></td>
        </tr>
        <tr>
            <td><label >Last Name</label></td>
            <td><input th:field="*{prenom}" type="text" name="prenom"></input></td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td><input th:field="*{username}" type="text" name="username"></input></td>
        </tr>
        <tr>
            <td><label>Password</label></td>
            <td><input th:field="*{password}" type="password" name="password"></input></td>
        </tr>
        <tr>
            <td><input type="reset" value="Clear"/></td>
            <td><input type="submit" value="Submit"></input></td>
        </tr>
    </table>
</form>
</body>
</html>